body{
 background: rgb(244, 164, 96);
}
.contenedorDeFormulario{
  width: 200%;
  max-width: 1500px;
  height: 150%;
  max-height: 1500px;
  margin-top: 8%;
  background: url(imagenes/fondo-restaurante.jpg);
  background-size: cover;
  z-index: 3;
}
.logoRestaurante{
  width: 40%;
  height: 40%;
  position: relative;
  left: 30%;
}
#formularioDeValidador{
  background: rgb(255, 218, 185, .5);
  background-position: center;
  margin-left: 40%;
  width: 190%;
  height: 200%;
  max-width: 330px;
  padding: 50px;
  font-weight: bolder;
  border-color: rgb(255, 239, 213);
  z-index: 2;
}
.contenedorDatosUsuario{
  background-color: rgb(255, 239, 213, .9);
  border-color: rgb(255, 239, 213);
  padding: 5%;
  border-radius: 10%;
  font-size: 100%;
  font-family: "Libre Baskerville";
}
#inputNombre{
  background-color: rgb(255, 255, 255, .7);
  border-color: rgb(0, 0, 0);
  border-width: thin;
  font-family: "Libre Baskerville";
  font-size: 100%;
}
#inputNumeroTarjeta{
  background-color: rgb(255, 255, 255, .7);
  border-color: rgb(0, 0, 0);
  border-width: thin;
  font-family: "Libre Baskerville";
  font-size: 100%;
}
#botonValidar{
  height: 90%;
  width: 30%;
  font-weight: bolder;
  border-width: thin;
  border-radius: 10%;
  border-color: rgb(0, 0, 0);
  color: rgb(255,255,255);
  background-color: rgb(0, 0, 0);
  font-family: "Libre Baskerville";
  font-size: 100%;
}
#limpiaInputsDeTexto{
  height: 90%;
  width: 30%;
  font-weight: bolder;
  border-width: thin;
  border-radius: 10%;
  border-color: rgb(0, 0, 0);
  color: rgb(255,255,255);
  background-color: rgb(0, 0, 0);
  font-family: "Libre Baskerville";
  font-size: 100%;
}
footer{
  text-align: center;
  font-family: "Libre Baskerville";
  font-size: 70%;
}
